.containerPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.8),
    rgba(74, 74, 140, 0.9)
  );
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 335px;
  padding: 24px 24px 24px 24px;
  transform: translate(-50%, -50%);
  background: #151515;
  box-sizing: border-box;
  border-radius: 10px;
}

.toggleHeader {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: #666;
}

.toggleOption {
  cursor: pointer;
  transition: color 0.3s, border-bottom 0.3s;
  padding-bottom: 0.2rem;
}

.toggleOption:hover {
  color: #656596;
}

.separator {
  margin: 0 0.5rem;
  color: #fff;
}

.active {
  color: #656596;
  font-weight: 600;
}

.imageContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.formImage {
  width: 120px;
  height: auto;
  object-fit: contain;
}
