.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 10px;
}

.inputContainer {
  position: relative;
  height: 49px;
}

.input {
  border: 1px solid #656596;
  border-radius: 8px;
  width: 287px;
  height: 49px;
  background: #1f1f1f;
  color: #fff;
  padding: 0 18px;
  box-shadow: 0 4px 16px 0 rgba(22, 22, 22, 0.08);
  opacity: 0.4;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.button {
  border: none;
  border-radius: 8px;
  width: 287px;
  height: 49px;
  background: #656596;
  color: #161616;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: 24px;
}

.button:hover {
  background: #656596;
}

.iconContainer {
  position: absolute;
  top: 60%;
  right: 18px;
  transform: translateY(-50%);
  cursor: pointer;
}

.icon {
  color: rgba(255, 255, 255, 0.3);
  width: 18px;
  height: 18px;
}

.input:hover,
.input:focus {
  box-shadow: 0 0 10px
    linear-gradient(rgba(0, 255, 0, 0.7) 25%, rgba(255, 0, 0, 0.7) 75%);
  outline: 1px solid #656596;
}

.error {
  color: #ff4e4e;
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
}
