.addCard {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 389px;
  width: 100%;
  min-height: 280px;
  padding: 15px;
  border: 1px dashed #fff;
  border-radius: 8px;
}
