.button {
  width: 100%;
  background-color: var(--bg-tertiary);
  color: var(--text-primary);
  padding: 1rem;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s;
}

.button:hover {
  background-color: var(--bg-hover);
  color: var(--color-primary);
}
