services:
  # ollama:
  #   image: ollama/ollama:latest  
  #   container_name: ollama
  #   ports:
  #     - "11434:11434"
  #   volumes:
  #     - ollama_data:/root/.ollama
  #   restart: unless-stopped


  flask-api:
    build: .
    container_name: flask-api
    ports:
      - "3000:3000"
    environment:
      # OLLAMA_BASE_URL: "http://ollama:11434"  
      # OLLAMA_MODEL: "llava:latest"
      GROQ_API_KEY: "" 
      GROQ_MODEL: "meta-llama/llama-4-scout-17b-16e-instruct"
      DB_HOST: ""
      DB_PORT: 5432
      DB_NAME: "mydb_atf9"
      DB_USER: "admin"
      DB_PASSWORD: ""
      AWS_ACCESS_KEY_ID: ""
      AWS_SECRET_ACCESS_KEY: ""
      AWS_REGION: "eu-west-1"
      S3_BUCKET_NAME: "study-buddy-demo"
    command: >
      uvicorn main:app --host 0.0.0.0 --port 3000 --reload
