#./Flask-endpoints/docker-compose.yml
services:
  flask-api:
    build: .
    container_name: flask-api
    ports:
      - "3000:3000"
    environment:
      GROQ_API_KEY: "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"
      GROQ_MODEL: "meta-llama/llama-4-scout-17b-16e-instruct"
      # For local development, use the following lines
      #DB_HOST: "host.docker.internal"
      #DB_NAME: "admin"
      #DB_USER: "secret"
      #DB_PASSWORD: "mydb"
      # For deployment, uncomment the following lines and comment out the local development lines above
      DB_HOST: "study-buddy-ai-db.c386y6e46m5v.eu-west-1.rds.amazonaws.com"
      DB_NAME: "studybuddyaidb"
      DB_USER: "mayesha"
      DB_PASSWORD: "9Puot94adXeCmeeYf9co2FF6h4Bv5nrJ"
      DB_PORT: 5432
      AWS_REGION: "eu-west-1"
      S3_BUCKET_NAME: "study-buddy-demo"
    command: >
      uvicorn main:app --host 0.0.0.0 --port 3000 --reload