Flask==3.0.3
requests
flask-cors==4.0.1
langchain_huggingface
langchain_postgres
langchain-core==0.2.38
langchain-text-splitters==0.2.4
psycopg2-binary==2.9.9
numpy==1.26.4
pillow==10.4.0
pdfplumber
PyMuPDF==1.24.4
python-magic==0.4.27
groq
sentence-transformers
torch
torchvision
python-docx>=1.1.0
python-pptx>=0.6.23
openpyxl>=3.1.0
python-dotenv