.homePage {
  display: flex;
  align-items: center;
  height: calc(100vh - 84px);
}

.modulesGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.modulesSection {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (max-width: 768px) {
  .homePage {
    flex-direction: column;
    gap: 20px;
  }
}
